<!doctype html>
<html lang="en" ng-app="app">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!--<meta name="description" content="">-->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>BPBIO</title>

    <meta name="theme-color" content="#C2185B">

    <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Roboto:regular,bold,italic,thin,light,bolditalic,black,medium&amp;lang=en">
    <link rel="stylesheet" href="//fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="//storage.googleapis.com/code.getmdl.io/1.0.4/material.pink-blue.min.css" />
    <link rel="stylesheet" href="css/styles.css">
    <link rel="stylesheet" href="//gitcdn.xyz/repo/angular/bower-material/master/angular-material.css">
</head>
<!--<body class="mdl-demo mdl-color--grey-100 mdl-color-text--grey-700 mdl-base">-->
<body class="mdl-demo mdl-color-text--grey-700 mdl-base">
<div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
    <header class="mdl-layout__header mdl-layout__header--scroll mdl-color--primary md-whiteframe-8dp">
        <div class="mdl-layout--large-screen-only mdl-layout__header-row">
        </div>
        <div class="mdl-layout--large-screen-only mdl-layout__header-row">
            <h3>Bio-informatica project groep 24</h3>
        </div>
        <div class="mdl-layout--large-screen-only mdl-layout__header-row">
        </div>
        <div class="mdl-layout__tab-bar mdl-js-ripple-effect mdl-color--primary-dark">
            <a href="#overview" class="mdl-layout__tab is-active">Index</a>
            <a href="#bioinformatics" class="mdl-layout__tab">Bio-informatica</a>
            <a href="#omics" class="mdl-layout__tab">Omics</a>
            <a href="#about" class="mdl-layout__tab">Over ons</a>
            <a href="#quiz" class="mdl-layout__tab">Quiz</a>
            <a href="#contact" class="mdl-layout__tab">Contact</a>
        </div>
    </header>

    <div class="mdl-layout__content">
        <div class="mdl-layout__tab-panel is-active" id="overview">
            <section class="section--center mdl-grid">
                <div class="mdl-cell--12-col-desktop mdl-cell--12-col-tablet mdl-cell--12-col-phone">
                    <md-content>
                        <h4 class="md-display-2">
                            Bio-informatica
                        </h4>

                        <p class="text-headers">
                            Wat is bio-informatica?
                        </p>
                        <p class="text">
                            Bio-informatica is een erg belangrijk onderdeel geworden in vele gebieden van biologie. Van ziektes onderzoeken tot medicijnen ontwikkelen en van DNA onderzoeken tot onderzoeksresultaten verwerken. Op vele plekken zijn er bio-informatici nodig. Onderzoeken worden steeds maar groter en groter en dat betekend ook dat er veel meer testresultaten zijn, vaak zoveel dat het niet met de hand te verwerken valt. Bio-informatici kunnen software ontwikkelen die deze data verwerkt of analyseert. Omdat een bio-informaticus veel van biologie en informatica af weet weet deze beter wat er met de data moet gebeuren dan een normale informaticus. Op deze website is meer informative vinden over bio-informatica. Geintreseerde kunnen de quiz doen om te kijken of een opleiding tot bio-informaticus bij hen past.
                        </p>
                    </md-content>
                </div>
            </section>
        </div>

        <div class="mdl-layout__tab-panel is-active" id="bioinformatics">
            <section class="section--center mdl-grid">
                <div class="mdl-cell--12-col-desktop mdl-cell--12-col-tablet mdl-cell--12-col-phone">
                    <md-content>
                        <h4 class="md-display-2">
                            Bio-informatica
                        </h4>

                        <p class="text-headers">
                            Wat is bio-informatica?
                        </p>
                        <p class="text">
                            Bio-informatica is een erg belangrijk onderdeel geworden in vele gebieden van biologie. Van ziektes onderzoeken tot medicijnen ontwikkelen en van DNA onderzoeken tot onderzoeksresultaten verwerken. Op vele plekken zijn er bio-informatici nodig. Onderzoeken worden steeds maar groter en groter en dat betekend ook dat er veel meer testresultaten zijn, vaak zoveel dat het niet met de hand te verwerken valt. Bio-informatici kunnen software ontwikkelen die deze data verwerkt of analyseert. Omdat een bio-informaticus veel van biologie en informatica af weet weet deze beter wat er met de data moet gebeuren dan een normale informaticus. Op deze website is meer informative vinden over bio-informatica. Geintreseerde kunnen de quiz doen om te kijken of een opleiding tot bio-informaticus bij hen past.
                        </p>
                    </md-content>
                </div>
            </section>
        </div>

        <div class="mdl-layout__tab-panel" id="omics">
            <section class="section--center mdl-grid">
                <div class="mdl-cell--12-col-desktop mdl-cell--12-col-tablet mdl-cell--12-col-phone">
                    <md-content>
                        <md-tabs md-dynamic-height md-border-bottom>

                            <md-tab label="Genomics">
                                <md-content class="md-padding">

                                    <h4 class="md-display-2">
                                        Genomics
                                    </h4>
                                    <p class="text">
                                        Wat is genomics? Wat kan je doen met genomics? En waar wordt genomics gebruikt? Dit zijn drie vragen waarvan jij na het lezen van dit stukje hopelijk antwoord op hebt.
                                    </p>

                                    <p class="text-headers">
                                        Wat is Genomics
                                    </p>
                                    <p class="text">
                                        Het is je misschien al opgevallen dat genomics is opgebouwd uit twee woorden gen-omics. Gen is het engelse woord voor geen. Daarmee wordt dan het woord bedoeld waar het meervoud van is genen. Omics is een achtervoegsel wat veel wordt gebruikt in de wereld van biologie en wordt meestal vertaald met omica. Genomics is het onderzoeken van en naar genen. Om het iets uitgebreider te zeggen : "Genomics is een verzamelnaam voor een breed aantal onderzoekstechnieken die worden gebruikt om inzicht te krijgen in de opbouw en werking van genen (DNA). Dit is zowel voor menselijke cellen als plantaardige en dierlijke cellen.".
                                    </p>

                                    <p class="text-headers">
                                        Geschiedenis
                                    </p>
                                    <ul class="text">
                                        <li>
                                            In 1871 werd het eerste genomica verslag gepubliceert door dhr Friedrich Miescher. Hij indentificeerde in dit versalg een nucleus (Nu beter bekend als DNA).
                                        </li>
                                    </ul>
                                    <p class="text">
                                        Vanaf de jaren 60 kwamen er enorme vooruitgangen in de wereld van genomics. Er werden complete DNA stelsel bloodgelegd en er kwam steeds meer aandacht voor de mogelijkheden van genomics.
                                    </p>

                                    <p class="text-headers">
                                        Wat kan je doen met genomics?
                                    </p>
                                    <p class="text">
                                        Genomics is zoals hierboven al genoemd het onderzoek naar genen. Genen bepalen hoe je er uit ziet. Of je bruine of blauwe ogen hebt, je groot of klein bent, of de kleur van je haar en nog veel meer. Dit is opzich al bijzonder maar hier ligt niet het grootste gedeelte van de genomica. Genomica is namelijk ook het kijken naar het DNA van virrussen en erfelijke ziektes. Erfelijke ziektes worden namelijk overgedragen via het DNA van de vader/moeder op het kind. Erfelijke ziektes kunnen van alles zijn. Zo kan je een erfelijke hartafwijking hebben of een oogafwijking.
                                    </p>
                                    <p class="text">
                                        Maar dit is pas één van de vele dingen die je met genomics kan doen. Genomics gaat namelijk over het hele genoom. Een genoom is het hele systeem van iets. Het genoom van een mens gaat dan ook over het hele menselijke lichaam en alles wat daar toebehoort. Hetzelfde geld voor andere soorten/dieren. Genomica gaat vaak gepaard met bio-informatica aangezien een genoom zoveel data bevat. Met bio-informatica kan dat goed worden opgeslagen in een database.
                                    </p>

                                    <p class="text-headers">
                                        Waar wordt genomics gebruikt?
                                    </p>
                                    <p class="text">
                                        Genomics word veelal gebruikt in onderzoekslaboratoria. Hier wordt onderzocht en gekeken naar de mogelijkheden die genomics met zich mee brengt. Veel onderzoek dat wordt gedaan wordt later toegepast op nieuwe medicijnen en technieken om ziektes te kunne bestrijden. Door dit onderzoek is het steeds gemakkelijker om erfelijke ziektes te kunnen verhelpen of verlichten.
                                    </p>

                                    <md-card class="md-whiteframe-12dp">
                                        <img src="img/martin-card.jpg" class="md-card-image" alt="image caption">
                                        <md-card-content>
                                            <span class="bqstart">&ldquo;</span>
                                            <p>From the growth of the Internet through to the mapping of the human genome and our understanding of the human brain, the more we understand, the more there seems to be for us to explore.</p>
                                            <span class="bqend">&rdquo;</span>
                                        </md-card-content>
                                        <div class="md-actions" layout="row" layout-align="end center">
                                            <md-button href="http://www.theguardian.com/profile/martinrees" class="md-primary md-raised" target="_blank">Martin Rees</md-button>
                                        </div>
                                    </md-card>

                                    <br />

                                    <p class="text">
                                        We hebben veel geleerd maar er valt nog veel meer te ontdekken en de genomica leert ons ontzettend veel over de mogelijkheden van het verlichten en verhelpen van ziektes. (AMC.nl) (Wageningen Universiteit) (Wikipedia) (Yourgenome.org) (Encyclo.nl)
                                    </p>

                                    <p class="text-headers">
                                        Bibliografie
                                    </p>

                                    <p>
                                        <a href="https://www.amc.nl/web/Zorg.htm">AMC.nl</a>. (sd). Opgehaald van https://www.amc.nl/web/zorg/patient/zoek-op-specialisme/klinische-genetica.htm <br />
                                        <a href="http://www.encyclo.nl/">Encyclo.nl</a>. (sd). Opgehaald van http://www.encyclo.nl/begrip/Genomica <br />
                                        <a href="http://www.wageningenur.nl/en/wageningen-university.htm">Wageningen Universiteit</a>. (sd). Opgehaald van http://www.wageningenur.nl/nl/Dossiers/dossier/Genomics-1.htm http://www.encyclo.nl/begrip/Genomica <br />
                                        <a href="https://www.wikipedia.org/">Wikipedia</a>. (sd). Opgehaald van https://nl.wikipedia.org/wiki/Genomica <br />
                                        <a href="http://www.yourgenome.org/">Yourgenome.org</a>. (sd). Opgehaald van http://www.yourgenome.org/facts/timeline-history-of-genomics
                                    </p>

                                </md-content>
                            </md-tab>

                            <md-tab label="Transcriptomics">
                                <md-content class="md-padding">

                                    <h4 class="md-display-2">
                                        Transcriptomics - OUD
                                    </h4>

                                    <p class="text-headers">
                                        Wat is transcriptomics?
                                    </p>
                                    <p class="text">
                                        Transcriptomics is de studie van het transcriptoom (het geheel aan RNA-moleculen die een cel, meerdere cellen of een organisme bevat). RNA heeft een erg belangrijke functie bij de celdeling, het zorgt er namelijk voor dat een cel tijdens de celdeling informatie geeft voor de eiwitsynthese (het aanmaken van eiwitten in je cellen) aan de nieuwe cel.
                                        Aan RNA kun je zien hoe het bijbehorende DNA eruitziet, aangezien bij de celdeling nucleotiden zich aan de nucleotiden van het DNA gaan vastklemmen en uiteindelijk zijn die nucleotiden samen het bijbehorende RNA van dat DNA. Dus kan je uit RNA opmaken om welk DNA het gaat.
                                    </p>

                                    <p class="text-headers">
                                        Transcriptomic onderzoek
                                    </p>
                                    <p class="text">
                                        Bij Transcriptomic onderzoek worden bepaalde (hulp)middelen gebruikt:
                                    </p>
                                    <ul class="text">
                                        <li><strong>Expressed sequence tag (EST-sequencing):</strong> door middel van een expressed sequence tag (een klein stukje van een cDNA* streng) kunnen sommige genen geïdentificeerd worden. Op deze manier kan er ook gekeken welke genen enige mutaties bevatten of niet.</li>
                                        <li><strong>Microarray:</strong> is een instrument dat wetenschappers gebruiken om te kijken hoe bepaalde genen tot uiting komen in bepaalde situaties/omstandigheden. Zo kunnen ze bijvoorbeeld gaan kijken hoe de uiting van sommige genen is bij een gezond iemand vergeleken een ziek iemand. Op deze manier kunnen ze kijken of er veranderingen zijn in bepaalde genen en/of bepaalde genen niet tot uiting komen.
                                            Hierdoor kunnen wetenschappers kijken welke genen een belangrijke rol spelen bij bepaalde ziektes en/of aandoeningen.</li>
                                        <li><strong>Serial Analysis of Gene Expression (SAGE):</strong> Sage is een manier waarbij wetenschappers heel gedetailleerd de uitingen van sommige genen in kaart kunnen brengen. Zo kunnen wetenschappers ook de profielen van alle genen uitingen zien in een cel, dus zie je de complete genen activiteit binnen een cel.</li>
                                        <li><strong>RNA-Sequencing:</strong> dat zijn technieken, waardoor wetenschappers door middel van cDNA kunnen bepalen wat de zogenoemde sequentie (volgordes, reeksen) van RNA-moleculen zijn. Hierdoor kunnen ze bijvoorbeeld bepalen hoe genen zich uiten.</li>
                                    </ul>
                                    <p class="text">
                                        cDNA (complementair DNA) = is DNA dat gemaakt is uit mRNA door omgekeerde transcriptie. Het wordt bijvoorbeeld bij RNA-sequencing en/of EST-sequencing gebruikt, aangezien RNA buiten de cel vrij instabiel is en DNA is daarentegen wat stabieler. Daarom wordt er gebruik gemaakt (in dit geval) van cDNA.
                                    </p>

                                    <p class="text-headers">
                                        Wat kunnen we doen met transcriptomics?
                                    </p>
                                    <p class="text">
                                        Dankzij Transcriptomics kunnen we of zijn de mogelijkheden:
                                    </p>
                                    <ul class="text">
                                        <li>Het (sneller) trekken van diagnoses bij patiënten in het ziekenhuis door te kijken naar de uitingen van de genen (bijvoorbeeld bij sommige ziektes als kanker).</li>
                                        <li>Kijken of sommige vaccinaties op iedereen hetzelfde effect hebben of bij sommige juist een ander effect hebben. Ook kunnen wetenschappers kijken wat ervoor zorgt dat het vaccin bij een ander niet hetzelfde effect heeft.</li>
                                        <li>Een nog beter idee krijgen van hoe onze genen werken en misschien in de toekomst nog veel meer ziektes en/of aandoeningen verhelpen.</li>
                                    </ul>

                                    <p class="text-headers">
                                        Bronnen
                                    </p>
                                    <p class="text">
                                        <a href="http://rnaseq.uoregon.edu/">http://rnaseq.uoregon.edu/</a> <br />
                                        <a href="http://genome.wellcome.ac.uk/doc_WTD020758.html">http://genome.wellcome.ac.uk/doc_WTD020758.html</a> <br />
                                        <a href="http://bio.lmu.de/~parsch/evogen/Transcriptomics.pdf">http://bio.lmu.de/~parsch/evogen/Transcriptomics.pdf</a> <br />
                                        <a href="http://www.nature.com/scitable/definition/transcriptome-296">http://www.nature.com/scitable/definition/transcriptome-296</a>
                                    </p>

                                </md-content>
                            </md-tab>

                            <md-tab label="Epigenomics">
                                <md-content class="md-padding">

                                    <h4 class="md-display-2">
                                        Epigenomics - OUD
                                    </h4>

                                    <p class="text-headers">
                                        Wat is een epigenoom?
                                    </p>
                                    <p class="text">
                                        Het epigenoomis een collectie chemische stoffen dat zegt wat het genoom moet doen. Genomen zijn alle eiwitten die een organisme kan produceren. Met het zeggen van wat een genoom moet doen geeft een epigenoom de commando’s om de productie van proteïnen te veranderen, of om de genomen zelf uit en aan te zetten.
                                        Epigenomen zijn allemaal zeer uniek en er wordt maar een klein deel genetisch overgedragen. Ook ontwikkelen epigenomen een beetje wanneer de stamcellen zich specialiseren. Ook ontwikkelen epigenomen zich over de levensduur van een organisme.  Het meest belangrijke punt in epigenomics is het feit dat ze expressie bepalen omdat dit zoveel effect heeft op het fenotype.
                                        Expressie is het gene wat zich uiteindelijk laat zien in het lichaam. Simpele voorbeelden zijn blauwe of bruine ogen, een persoon kan genen voor beide dingen hebben maar kan er maar een ( in meeste gevallen ) uiten. Het fenotype is een woord voor een samenstelling van alle expressies van een organisme.
                                    </p>

                                    <p class="text-headers">
                                        Wat is de functie van een epigenoom en waarom wordt er op gespecialiseerd?
                                    </p>
                                    <p class="text">
                                        De reden van de focus op epigenomen is het feit dat epigenomen en genomen hetgeen zijn wat verandert wanneer een mens lijdt aan kanker. Zoals eerder is vermeld zorgen epigenomen voor de activatie en de-activatie van productie in genomen. Een daarvan is celgroei, dit zorgt voor kanker.
                                    </p>

                                    <p class="text-headers">
                                        Ontwikkeling
                                    </p>
                                    <p class="text">
                                        Zoals eerder vermeld is, wordt er vooral op epigenomen gericht wegens de bestrijding van kanker. Toen het onderzoek echter net was begonnen was er een grotere focus op het indentificeren van de epigenomen. Nu ligt de focus meer op de functie van genen en hoe die de rest van het organisme beïnvloeden.
                                        Het ontstaan van epigenomics is niet heel lang geleden. Het werd niet als een serieuze richting gezien omdat er gedacht werd dat het geen grote invloed had op een organisme of ziektes en aandoeningen.
                                        Toen bekend werd dat epigenomen direct gerelateerd stonden met het DNA en de productie van cellen die met kanker etc. hadden te maken werd epigenomics plots zeer belangrijk en is het essentieel voor de ontwikkeling van medicijnen en bestrijdingen van ziektes.
                                    </p>

                                    <p class="text-headers">
                                        Doelen van epigenomics
                                    </p>
                                    <p class="text">
                                        Met epigenomics willen onderzoekers vooral het kunnen aanpassen van de epigenomen met zich meebrengen. Beter gezegd, ze willen de functies en taken die de epigenomen uitvoeren onder controle houden. Helemaal voor kankerpatiënten aangezien hun epigenomen de taak van groei niet afbreken.
                                        Wanneer dit mogelijk is, is het veel makkelijker om sommige ziektes te bestrijden. Omdat je bij een aantal ziektes de bron hiermee aanpakt en er niet echt een kans is voor die ziektes om verder te ontwikkelen. Dit is omdat je het gene wat de ziektes op een bepaalde manier aanstuurt heb uitgeschakeld.
                                        Met kanker willen de onderzoekers hetzelfde doen, de ziekte bij de bron uitschakelen. Wanneer dan is gelukt kan je het verder onderzoeken en ongelofelijk veel soorten kanker bestrijden. In het kort, epigenomics is vrij nieuw en heeft ongelofelijk veel potentieel. Dit is een richting dat niet onderschat kan worden en met genoeg investeringen een gigantische kracht kan worden tegen het bestrijden van ziektes.
                                    </p>

                                    <p class="text-headers">
                                        Bronnen
                                    </p>
                                    <p>
                                        <a href="http://exendo-epigenomics.com/">http://exendo-epigenomics.com/</a> <br />
                                        <a href="http://www.horizonpress.com/cimb/v/v4/111.pdf">http://www.horizonpress.com/cimb/v/v4/111.pdf</a> <br />
                                        <a href="https://www.genome.gov/27532724#al-1">https://www.genome.gov/27532724#al-1</a>
                                    </p>

                                </md-content>
                            </md-tab>

                            <md-tab label="Proteomics">
                                <md-content class="md-padding">

                                    <h4 class="md-display-2">
                                        Proteomics - OUD
                                    </h4>

                                    <p class="text">
                                        Proteomics is een studie die gespecialiseerd is in eiwitten, het bestuderen van de communicatie tussen eiwitten en de functies van eiwitten. Dit is belangrijk voor het onderzoeken van ziektes en het kunnen bestrijden van bepaalde defects.
                                        Er wordt bij de proteïnen gekeken in welke hoeveelheid ze voorkomen, hoe ze ontwikkelen, hoe ze onderling communiceren, en welke eiwitten kenmerkend zijn voor een bepaalde ziekte/gebeurtenis etc.
                                    </p>

                                    <p class="text-headers">
                                        Naamgeving
                                    </p>
                                    <p class="text">
                                        Proteomics is het bestuderen van genomen onder bepaalde omstandigheden, deze heten proteïnen. Genomen zijn alle eiwitten die een organisme kan produceren. Verschillend per omstandigheden kan niet het gehele genoom gemaakt geworden maar alleen een proteoom wat een selectieve productiecapaciteit van genen is onder bepaalde omstandigheden.
                                    </p>

                                    <p class="text-headers">
                                        Het ontstaan van proteomics
                                    </p>
                                    <p class="text">
                                        Wegens het verbeteren van onderzoekstechnieken tijdens de afgelopen decennia kunnen we nu door middel van proteomics eiwitten bestuderen die door genen zelf zijn gemaakt. Hierdoor kunnen we de door de genen geproduceerde eiwitten linken aan het gedrag van dat soort cel, er is bijvoorbeeld een verschil tussen de geproduceerde eiwitten van spierweefsel en van darmweefsel.
                                        Dit komt door de activatie van bepaalde genen in andere weefsels. Hierdoor ziet en werkt je oog anders dan bijvoorbeeld je huid. Ze hebben dezelfde genen, er zijn simpelweg andere actief. Proteomics is dus eigenlijk een geëvolueerde versie van het onderzoek naar genomen maar er is een reden voor het verschil.
                                    </p>

                                    <p class="text-headers">
                                        Waarom zijn proteïne zo anders dan genomen?
                                    </p>
                                    <p class="text">
                                        Het was duidelijk dat proteïnen een eigen richting moest worden toen het werd ontdekt door het grote verschil tussen de twee deeltjes. Maar wat is het verschil tussen de twee nou eigenlijk? Het verschil is dat proteïnen veel ingewikkelder zijn dan genomen.
                                        Genomen zijn overal en bijna altijd vrij constant in hun gedrag en structuur etc. proteïnen zijn verschillend. Zij zijn anders in een ander deel van het organisme, onder andere omstandigheden, andere leeftijden en onder invloed van buiten het lichaam.
                                        Bijvoorbeeld hitte, kou, een medicijn of stof dat het lichaam is binnengekomen, ouderdom, of simpelweg het verschil tussen een armspier en het hart.
                                    </p>

                                    <p class="text-headers">
                                        Kleine feiten over proteomics
                                    </p>

                                    <ul class="text">
                                        <li>Hun gedrag veranderd door invloed van hun omstandigheden</li>
                                        <li>Ze ontwikkelen zich na hun creatie, dit betekent dat ieder persoon een andere versie van een bepaald proteïne kan hebben.</li>
                                        <li>1 gen kan ongelofelijk veel soorten proteïne creëren, tot wel honderden.</li>
                                        <li>Proteïnen communiceren met elkaar en vertonen gedrag om bepaalde regelingen te behouden.</li>
                                        <li>Het aantal op verschillende plekken in een organisme kan sterk verschillen, dit betekent dat een concentratie op een bepaalde plek in een organisme miljoenen keren sterker kan zijn dan op andere.</li>
                                        <li>Het is een van de stoffen/studies die zowel biologie en scheikunde combineert waardoor het vrij passend is voor bio-informatici en chemici.</li>
                                    </ul>

                                    <p class="text">
                                        Proteomics is in feite niet alleen een combinatie van biologie en scheikunde maar er wordt ook veel informatica in toegepast vanwege de ongelofelijke grote aantallen informatie (vergeet niet dat een gen keuze heeft uit honderden proteïnen).
                                        Ook zijn ingenieurs nodig voor deze richting, er zijn namelijk heel veel technologische hulpmiddelen nodig die nog niet uitgevonden of nog niet goed genoeg zijn.
                                    </p>

                                    <p class="text-headers">
                                        Bronnen
                                    </p>
                                    <p class="text">
                                        <a href="http://exendo-epigenomics.com/">http://www.netherlandsproteomicscentre.nl</a> <br />
                                        <a href="http://exendo-epigenomics.com/">http://www.erasmusmc.nl</a> <br />
                                        <a href="http://exendo-epigenomics.com/">http://proteomics.cancer.gov/whatisproteomics</a>
                                    </p>

                                </md-content>
                            </md-tab>

                            <md-tab label="Metabolomics">
                                <md-content class="md-padding">

                                    <h4 class="md-display-2">
                                        Metabolomics - OUD
                                    </h4>

                                    <p class="text-headers">
                                        Wat houd metabolomics in, en wat moet ik mij daarbij voorstellen?
                                    </p>
                                    <p class="text">Metabolomics is de studie die kijkt naar hoe metabolieten bijdragen aan chemische processen. Metabolieten zijn de eindproducten van de processen die in een cel voorkomen. Het valt onder de systeembiologie (die bestudeert biologische systemen als een geheel).
                                        Glucose bijvoorbeeld is een metaboliet, aangezien glucose in (planten)cellen gemaakt wordt door middel van koolstofdioxide (CO<span class="small-text">2</span>) en water (H<span class="small-text">2</span>O):
                                    </p>
                                    <p>6 CO<span class="small-text">2</span> + 6 H<span class="small-text">2</span>O <i class="material-icons icon-text">forward</i> C<span class="small-text">6</span>H<span class="small-text">12</span>O<span class="small-text">6</span> + 6 O<span class="small-text">2</span></p>
                                    <p class="text">Voor de rest zijn er nog meer metabolieten zoals: aminozuren, ATP etc.
                                        Het geheel aan metabolieten in een cel, weefsel of organisme wordt het metaboloom genoemd. De concentratie van metabolieten verandert constant, aangezien er de hele tijd reacties plaatsvinden in cellen. Dit maakt het daarom lastig voor wetenschappers om het metaboloom zo goed mogelijk weer te geven en te onderzoeken (omdat de waarden dus de hele tijd veranderen van de metabolieten).
                                        Onder Metabolisme (stofwisseling) verstaan we alle chemische reacties die plaats vinden in de cellen van een levend organisme. Deze reacties worden door enzymen in het lichaam gekatalyseerd (versneld). Deze reacties kunnen worden onderverdeeld in twee groepen: Anabolisme en Katabolisme.
                                        Anabolisme is het maken van nieuwe moleculen die complexer zijn dan de beginstoffen van de reactie (Hiervoor is er meestal energie nodig).
                                        Katabolisme is het maken van simpelere moleculen door complexere moleculen af te breken (Hierbij komt er meestal energie bij vrij).
                                    </p>

                                    <p class="text-headers">
                                        Wat kunnen we met metabolomics?
                                    </p>
                                    <p class="text">
                                        Door metabolomics zijn er veel dingen die we kunnen doen, zoals:
                                    </p>
                                    <ul class="text">
                                        <li>De smaak van groenten en fruit verbeteren, omdat het dankzij metabolomics mogelijk is om de metabolieten die bepaalde eigenschappen beïnvloeden (zoals: smaak, kleur, geur etc.) zodanig te veranderen, waardoor het beter smaakt.</li>
                                        <li>Sommige risico’s/gevaren van bepaalde (voeding)producten onderzoeken door te kijken of er enige schadelijke stoffen inzitten of vrijkomen bij inname ervan.</li>
                                        <li>De effecten van sommige gifstoffen op bepaalde organismen.</li>
                                        <li>Gevaarlijke en/of schadelijke effecten van bijvoorbeeld drugs testen en wat de schade kan zijn bij langdurig gebruik.</li>
                                    </ul>

                                    <p class="text-headers">
                                        Metabolomics onderzoeken
                                    </p>
                                    <p class="text">
                                        Bij metabolomics kan je op twee verschillende manieren metabolieten gaan onderzoeken:
                                    </p>
                                    <ol class="text">
                                        <li>Specifiek zoeken naar bepaalde metabolieten (bijvoorbeeld de concentratie van suikers die op een bepaald moment aanwezig zijn in de cel).</li>
                                        <li>Niet-specifiek zoeken naar bepaalde metabolieten in een cel, weefsel of organisme. Hierbij weet je niet van tevoren en/of heb je niet van tevoren bedacht welke metaboliet je wilt gaan vinden (en de concentraties).</li>
                                    </ol>
                                    <p class="text">
                                        De volgende drie scheidingsmethoden worden gebruikt bij metabolomics:
                                    </p>
                                    <ul class="text">
                                        <li><strong>Gas chromatography (GC):</strong> Hierbij wordt een gas gescheiden door middel van chromatografie.</li>
                                        <li><strong>Liquid chromatography (LC):</strong> hierbij wordt een (deel) van een vloeistof gescheiden door middel van chromatografie.</li>
                                        <li><strong>Capillary electrophoresis (CE):</strong> een mengsel wordt gescheiden, doordat er met behulp van een elektrisch veld een deel van het mengsel wordt weggeleid van het mengsel, waardoor het mengsel dus gescheiden wordt.</li>
                                    </ul>
                                    <p class="text">
                                        De twee meest gebruikte aantoningsmethoden bij metabolomics zijn:
                                    </p>
                                    <ul>
                                        <li><strong>Nuclear magnetic resonance spectronomy:</strong> bepaalt eigenschappen van moleculen en hun atomen.</li>
                                        <li><strong>Mass-spectronomy:</strong> door de massa en lading verhouding van een monster kan er bepaalt worden hoeveel er van een bepaalde metaboliet aanwezig is.</li>
                                    </ul>

                                    <p class="text-headers">
                                        Bronnen
                                    </p>
                                    <p class="text">
                                        <a href="https://www.ebi.ac.uk/training/online/course/introduction-metabolomics/summary">https://www.ebi.ac.uk/training/online/course/introduction-metabolomics/summary</a> <br />
                                        <a href="http://www.biomedcentral.com/sites/3008/Metabolomics/Metabolomics.html">http://www.biomedcentral.com/sites/3008/Metabolomics/Metabolomics.html</a> <br />
                                        <a href="http://www.metabolomicdiscoveries.com/">http://www.metabolomicdiscoveries.com/</a>
                                    </p>

                                </md-content>
                            </md-tab>

                            <md-tab label="Systeembiologie">
                                <md-content class="md-padding">

                                    <h4 class="md-display-2">
                                        Systeembiologie
                                    </h4>

                                    <p class="text-headers">
                                        Wat is systeembiologie?
                                    </p>
                                    <p class="text">
                                        De naam zegt het al een beetje, systeembiologie is de biologie die focust op systemen als geheel. Er wordt veel gekeken naar alle samenwerking tussen systemen. Dit kan variëren van een groepje moleculen tot cellen, organen maar ook soorten. In de systeembiologie wordt zo goed gekeken naar samenwerking omdat het geheel zoveel meer kan bereiken dan alle aparte onderdelen los.1 Genen zijn een goed voorbeeld hiervan. Hoe individuele genen functioneren is één, maar wat voor uitwerking ze op andere genen hebben en hoe ze samenwerken is misschien nog wel veel belangrijker. Omdat systemen veelzijdig zijn, komen eigenlijk alle –omics die in de andere teksten uitgelegd worden, in de systeembiologie terug.
                                    </p>

                                    <p class="text-headers">
                                        Wat voor systemen zijn dat nou eigenlijk?
                                    </p>
                                    <p class="text">
                                        Je kunt je misschien wel bedenken dat systeembiologie dus vrij groot is gezien de grote hoeveelheid systemen die er zijn in de biologie. Onze planeet is een systeem, een mens is een systeem, stelsels in de mens zijn systemen, organen zijn systemen, weefsels zijn systemen, cellen zijn systemen, organellen, zenuwen, spieren enzovoorts ook allemaal. Kortom, teveel om op te noemen.
                                    </p>
                                    <p class="text">
                                        De biologische vraagstukken in de systeembiologie, waar oplossingen voor worden gezocht, kunnen dus ook heel erg variëren. Het kunnen medische problemen zijn als ziektes en hun medicijnen maar ook dingen als voedsel, het ecosysteem en het milieu.<sup>1</sup>
                                    </p>

                                    <p class="text-headers">
                                        Bio-informatica
                                    </p>
                                    <p class="text">
                                        Nu zal je je misschien wel afvragen wat bio-informatica nou eigenlijk met dit alles te maken heeft. Om te snappen hoe die systemen nou eigenlijk werken is kennis van eiwitten (zie proteomics), genen (zie genomics), wiskundige modellen, natuurkunde, engineering maar ook kennis van bio-informatica nodig<sup>2</sup>. Ingewikkelde biologische data moet verzameld en geanalyseerd worden. Daar zijn bio-informatici voor nodig. Alles wat er gebeurt bij die systemen wordt in kaart gebracht. En daarmee proberen bio-informatici biologische vraagstukken op te lossen.
                                    </p>

                                    <p class="text-headers">
                                        Geschiedenis
                                    </p>
                                    <p class="text">
                                        Systeembiologie is, net als bio-informatica, nog een vrij nieuw deel in de biologie. Dit komt mede door het feit dat voor 2000 de technieken nog niet ver genoeg ontwikkeld waren om onder andere hele DNA-sequenties te analyseren. Daarna kon steeds meer onderzoek naar genomica en andere onderwerpen gedaan worden en zijn deze gebieden sterk gegroeid.<sup>3</sup>
                                    </p>

                                    <p class="text-headers">
                                        In het kort!
                                    </p>
                                    <p class="text">
                                        Systeembiologie is dus de biologie die zich bezig houdt met allerlei systemen op verschillende niveaus, waar steeds nieuwe vragen komen. Die vragen worden dan met behulp van nieuwe technologie geanalyseerd waar weer data uit komt. Die data leidt dan tot nieuwe software en als het goed is tot antwoorden op de vragen. Als bio-informaticus ben je nauw met dit proces betrokken. De ruwe informatie wordt voor je gewonnen, maar het is aan jou om dit te analyseren, verbanden te leggen en te zoeken naar een oplossing! Wil je meer informatie over systeembiologie? <a href="https://www.systemsbiology.org/about/what-is-systems-biology/">Klik hier</a>!
                                    </p>

                                    <hr />

                                    <p style="font-size: 12px">
                                        <sup>1</sup> What Is Systems Biology. Institute for Systems Biology. <a href="https://www.systemsbiology.org/about/what-is-systems-biology/">https://www.systemsbiology.org/about/what-is-systems-biology/</a>. Accessed September 30, 2015. <br />
                                        <sup>2</sup> Systems Biology – HMS. <a href="https://sysbio.med.harvard.edu/">https://sysbio.med.harvard.edu/</a>. Accessed September 30, 2015. <br />
                                        <sup>3</sup> Trewavas A. A Brief History of Systems Biology. Plant Cell. 2006;18(10):2420-2430. doi:10.1105/tpc.106.042267.
                                    </p>
                                </md-content>
                            </md-tab>
                        </md-tabs>
                    </md-content>
                </div>
            </section>
        </div>

        <div class="mdl-layout__tab-panel" id="about">
            <section class="section--footer mdl-color--white mdl-grid" ng-controller="aboutCtrl">
                    <div class="mdl-cell--1-col-desktop"></div>
                    <md-card class="mdl-cell mdl-cell--2-col-desktop mdl-cell--12-col-tablet mdl-cell--12-col-phone md-whiteframe-12dp" ng-repeat="p in people">
                        <img ng-src="{{ p.image }}" class="md-card-image" alt="image caption">
                        <md-card-content>
                            <h4>{{ p.name }}</h4>
                            <p class="text" style="font-size: 12px">{{ p.info }}</p>
                        </md-card-content>
                    </md-card>
            </section>
        </div>

        <div class="mdl-layout__tab-panel" id="quiz">
            <section class="section--center mdl-grid mdl-grid--no-spacing">
                <div class="mdl-cell mdl-cell--12-col">

                    <bpbio-quiz />

                </div>
            </section>
        </div>

        <div class="mdl-layout__tab-panel mdl-contact" id="contact">
            <map zoom="16" center="52.167533, 4.471095" disable-default-u-i="true" scrollwheel="false" class="md-whiteframe-8dp">
                <info-window id="1" position="52.167533, 4.471095" visible="true">
                    <div ng-non-bindable="" class="mdl-info-window">
                        <img src="https://www.hsleiden.nl/binaries/listImageLarge/content/gallery/hsl/logos/logo.png" class="mdl-info-window-img" />

                        <p class="mdl-info-window-p">
                            Hogeschool Leiden <br />
                            Zernikedreef 11 <br />
                            2333 CK Leiden
                        </p>
                    </div>
                </info-window>
            </map>

            <section class="section--center mdl-grid mdl-grid--no-spacing mdl-margin-20">
                <div class="mdl-cell mdl-cell--12-col">

                    <md-card class="md-whiteframe-8dp" ng-controller="contactCtrl">
                        <md-card-content>
                            <h4>Contact</h4>

                            <div layout="column" ng-cloak>

                                <md-content layout-padding>

                                    <form name="contactForm">

                                        <md-input-container class="md-icon-float">
                                            <label>Naam:</label>
                                            <md-icon class="name">person</md-icon>
                                            <input ng-model="contact.name" type="text" required>

                                            <div ng-messages="contactForm.name.$error">
                                                <div ng-message="required">This is required.</div>
                                            </div>
                                        </md-input-container>

                                        <md-input-container class="md-icon-float">
                                            <label>Email:</label>
                                            <md-icon class="email">email</md-icon>
                                            <input ng-model="contact.email" type="email" ng-pattern="/^.+@.+\..+$/" required>

                                            <div ng-messages="contactForm.email.$error">
                                                <div ng-message="required">This is required.</div>
                                            </div>
                                        </md-input-container>

                                        <md-input-container class="md-icon-float">
                                            <label>Bericht:</label>
                                            <md-icon class="email">question_answer</md-icon>
                                            <textarea ng-model="contact.message" required></textarea>

                                            <div ng-messages="contactForm.message.$error">
                                                <div ng-message="required">This is required.</div>
                                            </div>
                                        </md-input-container>

                                    </form>

                                </md-content>

                            </div>

                            <div class="md-actions" layout="row" layout-align="end center">
                                <md-button class="md-primary md-raised" ng-click="sendMessage()">Verstuur</md-button>
                            </div>
                        </md-card-content>
                    </md-card>

                </div>
            </section>
        </div>
    </main>
</div>

<!-- Material design -->
<script src="//storage.googleapis.com/code.getmdl.io/1.0.5/material.min.js"></script>

<!-- jQuery -->
<script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>

<!-- Angular Material Dependencies -->
<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.4.6/angular.js"></script>
<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.4.6/angular-animate.js"></script>
<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.4.6/angular-aria.js"></script>
<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.4.6/angular-messages.js"></script>

<!-- Angular Material Javascript using GitCDN to load directly from `bower-material/master` -->
<script src="//gitcdn.xyz/repo/angular/bower-material/master/angular-material.js"></script>

<!-- Google maps -->
<script src="//maps.googleapis.com/maps/api/js?v=3.exp&libraries=weather,visualization,panoramio"></script>
<script src="js/ng-map.js"></script>

<!-- Quiz js -->
<script src="js/app.js"></script>

</body>
</html>

